<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	
	<bean id="baseBC" class="com.pc.spring.scope.BaseBallCoach">
		<property name="name" value="Pushpak"></property>

	</bean>

	<bean id="cricketC" class="com.pc.spring.scope.CricketCoach" scope="prototype">

		<property name="name" value="Pushpak"></property>
		<property name="location" value="Canada"></property>
	</bean>


</beans>





